body {
    background-color: #9F80AC;
    font-family: arial;
}

#main {
    width: 410px;
    margin: 0 auto;
}

#header {
    padding-top: 41px;
    width: 398px;
    margin-left: 2px;
}

#logo {
    background-color: #126CAE;
    position: relative;
    height: 144px;
}

#sign {
    position: absolute;
    z-index: 1;
    padding: 12px 0 0 49px;
}

#graffiti {
    position: absolute;
    left: 179px;
    top: 30px;
    z-index: 10;
}

.roundedCorners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#atm {
    background-color: #fff;
    width: 359px;
    margin-left: 21px;
    height: 340px;
    position: relative;
    border-top: 6px solid #BEBEBE;
}

#atmForm {
    margin: -15px 55px;
    padding: 10px;
    position: absolute;
    height: 168px;
    width: 219px;
    background-color: #7EB4D5;
    border: 5px solid #E0E0E0;
    color: #fff;
}

#choice {
    position: absolute;
    top: 48px;
    left: 34px;
    font-size: 17px;
}

#buttons {
    font-size: 15px;
}

#withdraw {
    position: absolute;
    top: 114px;
    left: 17px;
}

#deposit {
    position: absolute;
    top: 142px;
    left: 17px;
}

#balance {
    position: absolute;
    top: 114px;
    right: 16px;
}

#enterPin {
    position: absolute;
    top: 142px;
    right: 14px;
}

#popup_cancel {
    display: none;
}

#popup_container {
    left: 469px !important;
    min-width: 341px !important;
    max-width: 341px !important;
}

#spanning {
    position: absolute;
    top: 233px;
    right: 54px;
}

#sticker {
    position: absolute;
    top: 208px;
    left: 14px;
}

ul#sprite-menu {
    list-style: none;
    margin-left: 21px;
    margin-top: 5px;
    width: 240px;
}

ul#sprite-menu li {
    display: inline;
}

ul#sprite-menu li span {
    display: inline-block;
    height: 24px;
    background-image: url(atm/creditcard_sprite.png);
    text-indent: -9999px;
}

ul#sprite-menu li span.star {
    width: 29px;
    background-position: 0 0;
}

ul#sprite-menu li span.pulse {
    width: 49px;
    background-position: -33px 0;
}

ul#sprite-menu li span.maestro {
    width: 35px;
    background-position: -85px 0;
}

ul#sprite-menu li span.master {
    width: 36px;
    background-position: -124px 0;
}

ul#sprite-menu li span.plus {
    width: 42px;
    background-position: -165px 0;
}

ul#sprite-menu li span.visa {
    width: 26px;
    background-position: -210px 0;
}

ul#sprite-menu li span.star.gray {
    width: 29px;
    height: 18px;
    background-position: 0 -23px;
}

ul#sprite-menu li span.pulse.gray {
    width: 49px;
    height: 18px;
    background-position: -33px -23px;
}

ul#sprite-menu li span.maestro.gray {
    width: 35px;
    height: 18px;
    background-position: -85px -23px;
}

ul#sprite-menu li span.master.gray {
    width: 35px;
    height: 18px;
    background-position: -125px -23px;
}

ul#sprite-menu li span.plus.gray {
    width: 42px;
    height: 18px;
    background-position: -164px -23px;
}

ul#sprite-menu li span.visa.gray {
    width: 26px;
    height: 18px;
    background-position: -210px -23px;
}

/*CSS for buttons*/
.button {
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background: 0 color-stop(1,#dfdfdf) );
    background: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#dfdfdf');
    background-color: #ededed;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    height: 20px;
    width: 30px;
}

.button:hover {
    background: 0 color-stop(1,#ededed) );
    background: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',endColorstr='#ededed');
    background-color: #dfdfdf;
}

.button:active {
    position: relative;
    top: 1px;
}

#gray1 {
    position: absolute;
    right: 244px;
    top: 61px;
}

#gray2 {
    position: absolute;
    right: -15px;
    top: 61px;
}

#gray3 {
    position: absolute;
    right: -15px;
    top: 90px;
}

#gray4 {
    position: absolute;
    right: 244px;
    top: 90px;
}

#gray5 {
    position: absolute;
    right: 82px;
    top: 6px;
}

#gray6 {
    position: absolute;
    left: 74px;
    top: 6px;
}

#gray7 {
    position: absolute;
    right: 72px;
    top: 6px;
}

#gray8 {
    position: absolute;
    left: 107px;
    top: 6px;
}

#white1 {
    position: absolute;
    top: 6px;
    left: -17px;
}

#white2 {
    position: absolute;
    top: 6px;
    right: -16px;
}

#white3 {
    position: absolute;
    top: 6px;
    left: -17px;
}

#white4 {
    position: absolute;
    top: 6px;
    right: -16px;
}

#empty1 {
    position: absolute;
    top: 52px;
    left: -44px;
}

#empty2 {
    position: absolute;
    top: 81px;
    left: -44px;
}

#empty3 {
    position: absolute;
    top: 52px;
    right: -43px;
}

#empty4 {
    position: absolute;
    top: 81px;
    right: -43px;
}

#withdrawButton {
    position: absolute;
    right: 92px;
    bottom: 1px;
}

#balanceButton {
    position: absolute;
    left: 82px;
    top: -4px;
}

#depositButton {
    position: absolute;
    right: 81px;
    top: -3px;
}

#enterPinButton {
    position: absolute;
    left: 115px;
    top: -3px;
}